<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8">
		<link rel="shortcut icon" href="../images/favicon.png" type="image/png">
        
        <title>Покраска - твой сервис</title>
        
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">     
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.css">
        <link rel="stylesheet" href=" ../stylesheets/main.css">
		<script src=" ../scripts/gallery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
		<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    </head>
    
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary top">
            <div class="container">
              <a class="navbar-brand" href="/ru"> <img src="../images/logo.png" height="30em"> </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/ru">Главная</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/ru/painting"> 
                        Покраска
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/ru/to_and_repair" > 
                        ТО и ремонт
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/ru/parts">Запасные части</a>
                  </li>
                  <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Прайс</a>
					<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
						<a class="dropdown-item" href="/ru/price">стандартные автомобили 8-16 клапанов ЛАНОС ШЕВРОЛЕ GEELY</a>
						<a class="dropdown-item" href="/ru/price_bus">бусы и автомобили высшего уровня Фольксваген Ауди</a>
					</div>
				</li>
                </ul>
              </div>
            </div>
        </nav>
 
        
        
        <div class="bs-docs-section container">
            <h2> Покраска</h2>
            <hr class="my-4">
			
			<div class="row">

				<div class="col-lg-8">
					Если вам необходима покраска автомобиля в Киеве, предлагаем посетить нашу станцию ​​технического обслуживания «Твой Сервис». Стоит отметить, что покраска авто - это достаточно сложный процесс, справиться с которым способны лишь настоящие профессионалы. Именно у нас Вы сможете найти высококвалифицированных, сертифицированных по международным стандартам специалистов. После работы которых, ваш автомобиль будет выглядеть не хуже нового. Наши специалисты не только уверенно лишат ваше транспортное средство от потертостей и царапин, но и способны справиться с более серьезными дефектами.<br>
					Также обращаем ваше внимание и на тот факт, что наш автосервис использует только высококачественные материалы такие как, STANDOX, GLASURIT, 3М. В сочетании с профессиональной работой, это является залогом качественной покраски. Кроме этого, у нас гарантируется правильность технологического процесса восстановления лакокрасочного покрытия, так как здесь используются сушильные камеры и специальное оборудование. Также стоит отметить, что современный рынок автомобильных красок способен удивить каждого автовладельца. Сегодня вы можете самостоятельно выбирать не только будущий цвет вашего авто, но и его оттенки. Также к нам всегда обращаются владельцы автомобилей, которые имеют нестандартный цвет. Благодаря широкому ассортименту мы всегда сможем подобрать необходимую краску.<br>
					Киев сегодня имеет множество автосервисов, которые предлагают эту услугу. Однако стоит ли доверять первому попавшемуся предложению? Вряд ли начинающая компания, в которой работники не обладают необходимым практическим опытом, сможет удовлетворить ваши требования. Именно поэтому, если вам необходима покраска авто в Киеве, всегда можете рассчитывать на нашу станцию ​​технического обслуживания, качество работы которой подтверждено многочисленными отзывами наших постоянных клиентов. <br>
					Стоит отметить, что автопокраска у нас осуществляется в несколько этапов. В первую очередь проводятся работы по подготовке поверхности для покраски. Здесь удаляется ржавчина и старое покрытие. Также проводится обязательное обезжиривание поверхности. Затем наносится грунт и проводится шпатлевание. И только после всех этих действий на автомобиль наносится краска. По желанию вы сможете заказать и дальнейшее полировки. <br>
					Необходимо уточнить, что наша автомалярка позволяет избежать видимости перехода краски, удается далеко не каждому автосервиса. Кроме того, у нас осуществляется не только полная покраска автомобиля. Вы можете заказать покраску любой части. Как правило, локальная покраска автомобиля необходимо при любых повреждениях отдельных частей кузова. <br>

				</div>

				<div class="col-lg-4 hide-sm">
					<p class="lead">Мы находимся:</p>
					<p class="bs-component"><img src=" ../images/location-pin.svg" height="20 em"> ул. Киото, 27 <br> 
						(Въезд со стороны ул. Мурманской)
					</p>
					<p class="bs-component"><img src=" ../images/mobile-phone.svg" height="20 em"> +38 (067) 453-452-7</p>
					<p class="bs-component"><img src=" ../images/mobile-phone.svg" height="20 em"> +38 (093) 453-452-7</p>
					<p class="lead"> Наш режим работы:</p>
					<p class="bs-component">
						понедельник пятница	9:00 - 18:00 <br>
						суббота 9:00 - 15:00 <br> 
						воскресенье: выходной
					</p>
                </div>
			</div>
			<br>

			<div class="row">
				<div class="col-lg-3 col-md-3 col-xs-6 thumb">
					<a href="../images/painting1.jpg" class="fancybox" rel="ligthbox">
						<img  src="../images/painting1.jpg" class="zoom img-fluid "  alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-3 col-xs-6 thumb">
					<a href="../images/painting2.jpg" class="fancybox" rel="ligthbox">
						<img  src="../images/painting2.jpg" class="zoom img-fluid "  alt="">
					</a>
				</div>
					
				<div class="col-lg-3 col-md-3 col-xs-6 thumb">
					<a href="../images/painting3.jpg" class="fancybox" rel="ligthbox">
						<img  src="../images/painting3.jpg" class="zoom img-fluid "  alt="">
					</a>
				</div>
					
				<div class="col-lg-3 col-md-3 col-xs-6 thumb">
					<a href="../images/painting4.jpg" class="fancybox" rel="ligthbox">
						<img  src="../images/painting4.jpg" class="zoom img-fluid "  alt="">
					</a>
				</div>
			</div>
		</div>

		<br/>

		<footer>
             <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <p>
                                <a href="https://www.instagram.com/tviiservis/">
                                	<img src=" ../images/instagram.svg" height="20em" > 
                                </a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>