<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8">
		<link rel="shortcut icon" href="../images/favicon.png" type="image/png">
        
        <title>Фарбування - твій сервіс</title>
        
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">     
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.css">
        <link rel="stylesheet" href=" ../stylesheets/main.css">
		<script src=" ../scripts/gallery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
		<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    </head>
    
    <body>
		        <nav class="navbar navbar-expand-lg navbar-dark bg-primary top">
            <div class="container">
              <a class="navbar-brand" href="/"> <img src=" images/logo.png" height="30em"> </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Головна</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/painting"> 
                        Фарбування
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/to_and_repair" > 
                        ТО і ремонт
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/parts">Запасні частини</a>
                  </li>
                   <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Прайс</a>
					<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
						<a class="dropdown-item" href="/price">стандартнi автомобілі 8-16 клапанів ЛАНОС ШЕВРОЛЕ GEELY</a>
						<a class="dropdown-item" href="/price_bus">буси і автомобілі вищого рівня Фольцваген Ауді</a>
					</div>
				</li>
                </ul>
              </div>
            </div>
        </nav>

        <div class="bs-docs-section container">
            <h2> Фарбування </h2>
            <hr class="my-4">
			
			<div class="row">

				<div class="col-lg-8">
					Якщо вам необхідне фарбування автомобіля в Києві, пропонуємо відвідати нашу станцію технічного обслуговування «Твій Сервіс». Варто відзначити, що фарбування авто - це досить складний процес, впоратися з яким здатні лише справжні професіонали. Саме у нас Ви зможете знайти висококваліфікованих, сертифікованих по міжнародним стандартам фахівців. Після роботи яких, ваш автомобіль буде виглядати не гірше нового. Наші фахівці не тільки впевнено позбавлять ваш транспортний засіб від потертостей і подряпин, а й здатні впоратися з більш серйозними дефектами. <br>
					Також звертаємо вашу увагу і на той факт, що наш автосервіс використовує тільки високоякісні матеріали такі як STANDOX ,GLASURIT, 3М . У поєднанні з професійною роботою, це є запорукою якісного фарбування. Крім цього, у нас гарантується правильність технологічного процесу відновлення лакофарбового покриття, так як тут використовуються сушильні камери і спеціальне обладнання. Також варто відзначити, що сучасний ринок автомобільних фарб здатний здивувати кожного автовласника. Сьогодні ви маєте можливість самостійно вибирати не тільки майбутній колір вашого авто, але і його відтінки. Також до нас завжди звертаються власники автомобілів, які мають нестандартний колір. Завдяки широкому асортименту ми завжди зможемо підібрати необхідну фарбу. <br>
					Київ сьогодні має безліч автосервісів , які пропонують цю послугу. Однак чи варто довіряти першій ліпшій пропозиції? Навряд чи починаюча компанія, в якій працівники не володіють необхідним практичним досвідом, зможе задовольнити ваші вимоги. Саме тому, якщо вам необхідне фарбування авто в Києві, завжди можете розраховувати на нашу станцію технічного обслуговування, якість роботи якої підтверджено численними відгуками наших постійних клієнтів. <br>
					Варто відзначити, що автофарбування  у нас здійснюється в кілька етапів. В першу чергу проводяться роботи з підготовки поверхні для фарбування. Тут видаляється іржа і старе покриття. Також проводиться обов'язкове знежирення поверхні. Потім наноситься грунт і проводиться шпатлювання. І тільки після всіх цих дій на автомобіль наноситься фарба. За бажанням ви зможете замовити і подальше полірування. <br>
					Необхідно уточнити, що наша автомалярка дозволяє уникнути видимості переходу фарби, що вдається далеко не кожному автосервісу. Крім того, у нас здійснюється не тільки повне фарбування автомобіля. Ви маєте можливість замовити фарбування будь-якої частини. Як правило, локальне фарбування автомобіля необхідне при будь-яких пошкодженнях окремих частин кузова.
				</div>

				<div class="col-lg-4 hide-sm">
						<p class="lead">Ми знаходимося:</p>
						<p class="bs-component"><img src=" images/location-pin.svg" height="20 em"> вул. Кіото, 27 <br> 
							(В'їзд з боку вул. Мурманської)
						</p>
						<p class="bs-component"><img src=" images/mobile-phone.svg" height="20 em"> +38 (067) 453-452-7</p>
						<p class="bs-component"><img src=" images/mobile-phone.svg" height="20 em"> +38 (093) 453-452-7</p>
						<p class="lead"> Наш режим роботи:</p>
						<p class="bs-component">
							понеділок - п'ятниця: 9:00 - 18:00 <br>
							субота: 9:00 - 15:00 <br> 
							неділя: вихідний
						</p>
                </div>
			</div>
			<br>

			<div class="row">
				<div class="col-lg-3 col-md-3 col-xs-6 thumb">
					<a href="../images/painting1.jpg" class="fancybox" rel="ligthbox">
						<img  src="../images/painting1.jpg" class="zoom img-fluid "  alt="">
					</a>
				</div>
				<div class="col-lg-3 col-md-3 col-xs-6 thumb">
					<a href="../images/painting2.jpg" class="fancybox" rel="ligthbox">
						<img  src="../images/painting2.jpg" class="zoom img-fluid "  alt="">
					</a>
				</div>
					
				<div class="col-lg-3 col-md-3 col-xs-6 thumb">
					<a href="../images/painting3.jpg" class="fancybox" rel="ligthbox">
						<img  src="../images/painting3.jpg" class="zoom img-fluid "  alt="">
					</a>
				</div>
					
				<div class="col-lg-3 col-md-3 col-xs-6 thumb">
					<a href="../images/painting4.jpg" class="fancybox" rel="ligthbox">
						<img  src="../images/painting4.jpg" class="zoom img-fluid "  alt="">
					</a>
				</div>
			</div>
		</div>

		<br/>
		
		<footer>
             <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <p>
                                <a href="https://www.instagram.com/tviiservis/">
                                	<img src=" ../images/instagram.svg" height="20em" > 
                                </a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>