<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8">
		<link rel="shortcut icon" href="../images/favicon.png" type="image/png">
        
        <title>Запасні частини - твій сервіс</title>
        
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">     
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.css">
        <link rel="stylesheet" href=" ../stylesheets/main.css">
		<script src=" ../scripts/gallery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src='https://www.google.com/recaptcha/api.js?render=6LcyXYkUAAAAADvyjSiRS3lE_8Agvw9wpXQU5ffR'></script>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
		<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    </head>
    
    <body>
		        <nav class="navbar navbar-expand-lg navbar-dark bg-primary top">
            <div class="container">
              <a class="navbar-brand" href="/"> <img src=" images/logo.png" height="30em"> </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Головна</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/painting"> 
                        Фарбування
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/to_and_repair" > 
                        ТО і ремонт
                    </a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/parts">Запасні частини</a>
                  </li>
				   <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Прайс</a>
					<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
						<a class="dropdown-item" href="/price">стандартнi автомобілі 8-16 клапанів ЛАНОС ШЕВРОЛЕ GEELY</a>
						<a class="dropdown-item" href="/price_bus">буси і автомобілі вищого рівня Фольцваген Ауді</a>
					</div>
				</li>
                </ul>
              </div>
            </div>
        </nav>

        <div class="bs-docs-section container">
            <h2> Запасні частини </h2>
            <hr class="my-4">
			
			<div class="row">

				<div class="col-lg-8">
					Кожен автомобіліст рано чи пізно стикається з проблемою вибору, які запасні частини – оригінальні або неоригінальні – використовувати при обслуговуванні та ремонті свого «залізного друга».На безкрайніх просторах Інтернету можна зустріти мільйони незаперечних аргументів як прихильників виключно оригіналу, так і ярих супротивників його. Захисники оригіналу переконані, що досягти спочатку заданих виробником автомобіля параметрів, а відповідно – надійності, довговічності і функціональності, можна тільки за умови заміни відпрацьованого або вийшов з ладу елемента точно таким же, «рідним». І з цим важко сперечатися. <br/>
					Насправді, не все так однозначно, і істина, як відомо, знаходиться десь посередині. У цій статті ми постараємося дати чіткі і зрозумілі визначення оригінальних і неоригінальних запасних частин, а також спробуємо провести по можливості повний і неупереджений аналіз переваг та недоліків використання цих запчастин в автомобілі, який, зрештою, допоможе вам зробити правильний вибір. <br/>

					<b> Оригінальні запчастини </b>– це деталі і вузли, ідентичні деталей і вузлів, що поставляються на складальний конвеєр заводу-виготовлювача. Такі запчастини в обов’язковому порядку мають фірмову маркування і унікальний номер виробника автомобіля.
					<br/>Основні переваги використання оригінальних запчастин:<br/>
					1. Якість та сумісність деталей відповідає всім вимогам і гарантується самим виробником автомобіля. <br/>
					2. Асортимент оригінальних запчастин забезпечує споживачеві практично 100-відсоткову потребу в необхідних для ремонту або обслуговування автомобіля деталях.<br/>
					3. При пошуку і купівлі запчастини за унікальним оригінальному номером значно знижується ризик придбання помилкового вироби, а також контрафактної продукції..<br/>
					<b>Недоліків використання оригінальних запчастин </b>не так багато, але вони істотні: <br/>
 					Висока ціна. Як правило, вартість оригінальної деталі на 30-50% вище вартості порівнянного за якістю (а часто – і виробленого на тому ж заводі-виробнику, що й оригінал) аналога; <br/>
					<b>Неоригінальні запчастини</b> – вироби незалежних компаній-виробників, що спеціалізуються на випуску деталей певної групи (наприклад, підвіски та рульового управління, гальмівної системи, двигуна, електрообладнання тощо) для різних марок і моделей автомобілів. Такі запчастини можуть випускатися як під власною торговою маркою виробника, так і під іншими торговими марками компаній-пакувальників.<br/>

					До основних <b>недоліків використання неоригінальних запчастин</b> слід віднести наступні:<br/>
					1. Використання запчастин, не мають офіційного схвалення виробника, може послужити приводом для анулювання гарантії на автомобіль. <br/>
					2. Серед неоригінальних запчастин значно частіше, за оцінками фахівців, зустрічаються заводський брак і відверті підробки, що, в кінцевому підсумку, може призвести до серйозних і дорогим поломок складних вузлів і механізмів автомобіля. <br/>
					3. Асортимент неоригінальних запчастин зазвичай набагато скромніше з огляду на те, що для вільного продажу виробники намагаються випускати лише найбільш ходові деталі (деякі автозапчастини для іномарок бувають тільки оригінальними, в основному це відноситься до мало зношується і рідко ламається запчастинах, таким як деталі салону, балки двигуна і підвіски та ін.)<br/>
					На закінчення слід зазначити, що наш автосервіс надає стовідсоткову гарантію якості автозапчастин ,які виможете придбати безпосередньо у нас.  

				</div>

				<div class="col-lg-4 hide-sm">
						<p class="lead">Ми знаходимося:</p>
						<p class="bs-component"><img src=" images/location-pin.svg" height="20 em"> вул. Кіото, 27 <br> 
							(В'їзд з боку вул. Мурманської)
						</p>
						<p class="bs-component"><img src=" images/mobile-phone.svg" height="20 em"> +38 (067) 453-452-7</p>
						<p class="bs-component"><img src=" images/mobile-phone.svg" height="20 em"> +38 (093) 453-452-7</p>
						<p class="lead"> Наш режим роботи:</p>
						<p class="bs-component">
							понеділок - п'ятниця: 9:00 - 18:00 <br>
							субота: 9:00 - 15:00 <br> 
							неділя: вихідний
						</p>
                </div>
			</div>
		</div>

		<br/>
		
		<footer>
             <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <p>
                                <a href="https://www.instagram.com/tviiservis/">
                                	<img src=" ../images/instagram.svg" height="20em" > 
                                </a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>