<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8">
		<link rel="shortcut icon" href="../images/favicon.png" type="image/png">
        
        <title>Запасные части - твой сервис</title>
        
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">     
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.css">
        <link rel="stylesheet" href=" ../stylesheets/main.css">
		<script src=" ../scripts/gallery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src='https://www.google.com/recaptcha/api.js?render=6LcyXYkUAAAAADvyjSiRS3lE_8Agvw9wpXQU5ffR'></script>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
		<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    </head>
    
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary top">
            <div class="container">
              <a class="navbar-brand" href="/ru"> <img src="../images/logo.png" height="30em"> </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/ru">Главная</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" href="/ru/painting"> 
                        Покраска
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/ru/to_and_repair" > 
                        ТО и ремонт
                    </a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/ru/parts">Запасные части</a>
                  <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Прайс</a>
					<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
						<a class="dropdown-item" href="/ru/price">стандартные автомобили 8-16 клапанов ЛАНОС ШЕВРОЛЕ GEELY</a>
						<a class="dropdown-item" href="/ru/price_bus">бусы и автомобили высшего уровня Фольксваген Ауди</a>
					</div>
				</li>
                </ul>
              </div>
            </div>
        </nav>
 
        
        
        <div class="bs-docs-section container">
            <h2> Запасные части</h2>
            <hr class="my-4">
			
			<div class="row">

				<div class="col-lg-8">
					Каждый автомобилист рано или поздно сталкивается с проблемой выбора, какие запчасти – оригинальные или не оригинальные – использовать при обслуживании и ремонте своего “Железного друга”.  На бескрайних просторах Интернета можно встретить миллионы неоспоримых аргументов поклонников исключительно оригинала , так и ярых его противников. Защитники оригинала уверенны что достичь изначально заданных производителем автомобиля параметров , а соответственно – надежности , долголетия и функциональности можно только при условии замены отработанного или элемента который вышел из строя точно таким же “родным” , с этим очень сложно спорить.
					<br/>На самом деле , не всё так однозначно , и истина , как известно , находится где то посредине. В этой статье мы постараемся дать дважды чёткие и понятные определения оригинальных и не оригинальных запчастей , а также попытаемся провести по возможности полный и непредвзятый анализ преимуществ и недостатков использования этих запчастей в автомобиле , который , в конце концов , поможет сделать вам выбор.
					<br/><b>Оригинальные запчасти</b> – это детали и узлы , идентичные деталям и узлам , которые поставляются на конвейер сборки завода производителя. Такие запчасти в обязательном порядке имеют фирменную маркировку и уникальный номер изготовителя автомобиля.
					<br/>Основные <b>преимущества использования оригинальных запчастей</b> :
					<br/>1. Качество и совместимость деталей соответствует всем требованиям и гарантируется самим производителем автомобиля.
					<br/>2. Ассортимент оригинальных запчастей обеспечивает потребителю практически 100-процентную потребность в необходимых для ремонта или обслуживания автомобиля деталях.
					<br/>3. При поиске и покупке запчасти по уникальному оригинальному номеру значительно снижается риск приобретения ошибочного изделия, а также контрафактной продукции.                                                           
					<br/><b>Недостатков использования оригинальных запчастей </b>не так много, но они существенны:  Высокая цена. Как правило, стоимость оригинальной детали на 30-50% выше стоимости сопоставимого по качеству (а часто - и произведенного на том же заводе-изготовителе, что и оригинал) аналога.
					<br/><b>Неоригинальные запчасти</b> - изделия независимых компаний-производителей, специализирующихся на выпуске деталей определенной группы (например, подвески и рулевого управления, тормозной системы, двигателя, электрооборудования и т.д.) для различных марок и моделей автомобилей. Такие запчасти могут выпускаться как под собственной торговой маркой производителя, так и под другими торговыми марками компаний-упаковщиков.
					<br/>К основным <b>недостаткам использования неоригинальных запчастей</b> следует отнести следующие:
					<br/>1. Использование запчастей, не имеющих официального одобрения производителя, может послужить поводом для аннулирования гарантии на автомобиль.
					<br/>2. Среди неоригинальных запчастей значительно чаще, по оценкам специалистов, встречается заводской брак и откровенные подделки, что, в конечном итоге, может привести к серьезным и дорогостоящим поломкам сложных узлов и механизмов автомобиля.
					<br/>3. Ассортимент неоригинальных запчастей обычно намного скромнее ввиду того, что для свободной продажи производители стараются выпускать лишь наиболее ходовые детали (некоторые автозапчасти для иномарок бывают только оригинальными, в основном это относится к не очень изнашиваемым и редко ломаемым запчастям, таким как детали салона, балки двигателя и подвески и др.)
					<br/>В заключение следует отметить, что наш автосервис предоставляет стопроцентную гарантию качества автозапчастей, которые вы можете приобрести непосредственно у нас.
				</div>

				<div class="col-lg-4 hide-sm">
					<p class="lead">Мы находимся:</p>
					<p class="bs-component"><img src=" ../images/location-pin.svg" height="20 em"> ул. Киото, 27 <br> 
						(Въезд со стороны ул. Мурманской)
					</p>
					<p class="bs-component"><img src=" ../images/mobile-phone.svg" height="20 em"> +38 (067) 453-452-7</p>
					<p class="bs-component"><img src=" ../images/mobile-phone.svg" height="20 em"> +38 (093) 453-452-7</p>
					<p class="lead"> Наш режим работы:</p>
					<p class="bs-component">
						понедельник пятница	9:00 - 18:00 <br>
						суббота 9:00 - 15:00 <br> 
						воскресенье: выходной
					</p>
                </div>
			</div>
		</div>

		<br/>
		<footer>
             <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <p>
                                <a href="https://www.instagram.com/tviiservis/">
                                	<img src=" ../images/instagram.svg" height="20em" > 
                                </a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>