<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8">
		<link rel="shortcut icon" href="../images/favicon.png" type="image/png">
        
        <title>ТО и ремонт - твой сервис </title>
        
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">     
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.css">
        <link rel="stylesheet" href=" ../stylesheets/main.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
		<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    </head>
    
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary top">
            <div class="container">
              <a class="navbar-brand" href="/ru"> <img src="../images/logo.png" height="30em"> </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/ru">Главная</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" href="/ru/painting"> 
                        Покраска
                    </a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/ru/to_and_repair" > 
                        ТО и ремонт
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/ru/parts">Запасные части</a>
                  </li>
                   <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Прайс</a>
					<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
						<a class="dropdown-item" href="/ru/price">стандартные автомобили 8-16 клапанов ЛАНОС ШЕВРОЛЕ GEELY</a>
						<a class="dropdown-item" href="/ru/price_bus">бусы и автомобили высшего уровня Фольксваген Ауди</a>
					</div>
				</li>
                </ul>
              </div>
            </div>
        </nav>
 
        
        
        <div class="bs-docs-section container">
            <h2> ТО и ремонт</h2>
            <hr class="my-4">
			
			<div class="row">

				<div class="col-lg-8">
					Почему ТО и ремонту лучше делать у <b>НАС</b>?
					<br/><b>Ремонт</b>. Под ремонтом понимают комплекс операций по восстановлению исправности или работоспособности изделий и восстановлению ресурсов изделий или их составных частей. При этом следует различать текущий ремонт и капитальный.
					<br/><b>Текущим</b> называют ремонт, который выполняют для обеспечения или восстановления работоспособности ДТС. Он заключается в замене и (или) восстановлении отдельных частей. Текущий ремонт выполняют при необходимости согласно результатам диагностирования технического состояния ТС или при наличии неисправностей.
					<br/><b>Капитальный ремонт</b> - это ремонт, выполняемый для восстановления исправности и полного (или близкого к полному) восстановлению ресурса изделия с заменой или восстановлением любых частей, в том числе базовых.
<br/>Его проводят при необходимости согласно результатам диагностики технического состояния ТС. Такой ремонт предназначено для увеличения срока эксплуатации автомобиля.
<br/>Капитальный ремонт включает работы, связанные с:
<br/>- заменой кузова - легковых автомобилей;
<br/>- заменой рамы - для внедорожников;
<br/>- одновременной заменой не менее трех базовых агрегатов.
<br/>Замена масла и фильтров это регулярная процедура. Каждый автомобиль - это сложное техническое устройство, в нем много подвижных частей, изнашиваются в период эксплуатации. Этот износ и, соответственно, будущие дополнительные расходы, которые можно уменьшить, вовремя заменяя смазочные жидкости. <br/>Минимальная ТО включает в себя замену масла двигателя и фильтра. Мы делаем абсолютно уникальное предложение в нашем городе на такую ​​операцию.
<br/>Комплекс МАСЛО + ФИЛЬТР + РАБОТА = по лучшей цене в городе Киев. Вам нужно сделать звонок и узнать реальную стоимость такой работы. Мы предлагаем сертифицированное качественное масло FOSSER и др. Фильтры от европейских производителей (MANN, MAHLE, WIX и др.)
<br/>Кроме этого, мы сделаем полное плановое техническое обслуживание, согласно регламенту обслуживания Вашего автомобиля по безумно выгодной цене! Звоните для консультации
Tel: +38093-453-452-7;  +38067-453-452-7

				</div>

				<div class="col-lg-4 hide-sm">
					<p class="lead">Мы находимся:</p>
					<p class="bs-component"><img src=" ../images/location-pin.svg" height="20 em"> ул. Киото, 27 <br> 
						(Въезд со стороны ул. Мурманской)
					</p>
					<p class="bs-component"><img src=" ../images/mobile-phone.svg" height="20 em"> +38 (067) 453-452-7</p>
					<p class="bs-component"><img src=" ../images/mobile-phone.svg" height="20 em"> +38 (093) 453-452-7</p>
					<p class="lead"> Наш режим работы:</p>
					<p class="bs-component">
						понедельник пятница	9:00 - 18:00 <br>
						суббота 9:00 - 15:00 <br> 
						воскресенье: выходной
					</p>
                </div>
			</div>
		</div>

		<br/>
		
		<footer>
             <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <p>
                                <a href="https://www.instagram.com/tviiservis/">
                                	<img src=" ../images/instagram.svg" height="20em" > 
                                </a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>